html, body {
  padding: 0px;
  margin: 0px;
  background: #ffffff;
}
p {
  margin: 15px 0px;
  font-size: 14px;
  text-align: justify;
  font-family: 'Open Sans', sans-serif;
}
.main-wrap {
  max-width: 750px;
  margin: auto;
  font-size: 14px;
  line-height: 20px;
  font-family: 'Open Sans', sans-serif;
  color: #000;
}
.main-wrap.index-page,
.main-wrap.index-page p {
  text-align: center;
}
.index-page a {
  color: rgb(65, 105, 225);
}
.index-page a:hover {
  color: rgb(138, 43, 226);
}
